@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans KR", sans-serif; /* 기본 폰트 설정 */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */
.btn {
  @apply px-4 py-2 rounded-md font-bold text-white;
}

.btn-primary {
  @apply bg-primary text-white p-2 rounded-3xl hover:bg-purple-700 transition;
}

.btn-light {
  @apply bg-white text-black p-2 rounded-3xl hover:bg-purple-700 hover:text-white transition border border-input;
}

.btn-dark {
  @apply bg-[#333] text-white p-2 rounded-3xl hover:bg-purple-700 transition border border-input;
}

.rounded-left {
  border-top-right-radius: 100px;
}

.rounded-right {
  border-bottom-left-radius: 100px;
}

abbr {
  @apply inline-block bg-danger rounded-full;
  height: 5px;
  width: 5px;
  position: relative;
  bottom: 3px;
  left: 5px;
}

input[type="checkbox"] {
  @apply flex items-center justify-center w-5 h-5 bg-white border border-gray-400 focus:text-purple-500 focus:ring-purple-500 focus:ring-1 focus:outline-none appearance-none cursor-pointer checked:before:content-['✓'] checked:before:text-base checked:font-bold;
}
